*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: blue;
    text-align: center;
}
#tabs
{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.cont_tab
{
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 700;
}

.cont_tab:hover
{
    transform: scale(1.05);
    transition: 0.1s ease-in;
}
